@tailwind base;
@tailwind components;
@tailwind utilities;

.labelStyle {
	background-color: #42f5c5;
	padding: 4px;
	border-radius: 8px;
	margin: 9px;
}

/* .knapp {
	border: 1px contrast-color;
} */